<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta
      name="description"
      content="compdecks is a competitive quiz platform"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    {% block css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />

    {% endblock %}

    <title>CompDecks | {% block title %}{% endblock %}</title>
  </head>

  <div class="fixed top-0 w-full start-0 navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div
          tabindex="0"
          role="button"
          aria-label="dropdown"
          class="btn btn-ghost btn-circle"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('explore.search') }}">Search</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl" href="/">compdecks</a>
    </div>
    <div class="navbar-end">
      <form action="/search/" method="get">
        <button
          class="btn btn-ghost btn-circle"
          aria-label="search"
          type="submit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </button>
      </form>
    </div>
    {% if g.user %}
    <div class="flex flex-row justify-between"></div>
    {% endif %}
  </div>

  <body>
    <div class="hero">
      {% if session["uuid"] %}
      <form action="/logout" method="get">
        <button aria-lable="logout" type="submit">Log Out</button>
      </form>
      {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <!--TODO: style flash class-->
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="body">{% block body %}{% endblock %}</div>
  </body>
</html>
