{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block body
%}
<div>
  <div class="w-full h-screen justify-center flex flex-col items-center">
    <h1 class="text-2xl font-bold text-center mb-4">CompDecks</h1>
    <form class="flex flex-col gap-2" action="/auth/login" method="post">
      <input
        required
        class="input input-bordered w-full max-w-xs"
        autocomplete="off"
        autofocus
        name="username"
        placeholder="your@email.com"
        type="text"
        required
      />
      <input
        required
        class="input input-bordered w-full max-w-xs"
        name="password"
        placeholder="Enter your password"
        type="password"
        required
      />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div>
      <br />
      <!--make blue link-->
      <p>
        Don't have an account?
        <a class="link link-primary" href="/auth/register">Sign Up</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
