{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block body
%}
<div
  class="flex md:h-screen flex-col gap-4 rounded-box bg-base-200 p-6 max-w-md mx-auto justify-center"
>
  <h1 class="text-3xl font-bold self-center">CompDecks</h1>

  <span class="self-center">
    Don't have an account?
    <a class="link link-secondary" href="/auth/register">Register</a>
  </span>

  <label class="form-control">
    <div class="label">
      <span class="label-text">Username</span>
    </div>

    <input
      class="input input-bordered"
      required
      autocomplete="off"
      name="username"
    />
  </label>

  <label class="form-control">
    <div class="label">
      <span class="label-text">Password</span>
    </div>

    <input
      type="password"
      class="input input-bordered"
      required
      autocomplete="off"
      name="password"
    />
  </label>

  <button class="btn btn-primary">Log in</button>
</div>

{% endblock %}
