{% extends "layout.html" %} {% block title %}Register{% endblock %} {% block
body%}
<div>
  <div class="min-h-screen w-full justify-center flex flex-col items-center">
    <h1 class="text-2xl font-bold text-center mb-4">CompDecks</h1>
    <form class="flex flex-col gap-2" action="/auth/register" method="post">
      <input
        class="input input-bordered w-full max-w-xs"
        autocomplete="off"
        autofocus
        name="username"
        placeholder="your@email.com"
        type="text"
        required
      />
      <input
        class="input input-bordered w-full max-w-xs"
        name="password"
        placeholder="Enter your password"
        type="password"
        required
      />
      <input
        class="input input-bordered w-full max-w-xs"
        name="confirmation"
        placeholder="Confirmation"
        type="password"
        required
      />
      <!--change color?-->
      <!--delete blue ring-->
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <div>
      <br />
      <!--make blue link-->
      <p>Already have an account? <a href="/auth/login">Log In</a></p>
    </div>
  </div>
</div>
{% endblock body%}
