{% extends "layout.html" %} {% block title %}Create{% endblock %} {% block
body%}
<div class="flex justify-center items-center">
  <div class="p-8 w-80">
    <h1 class="text-2xl font-semibold mb-4 text-center">Create a Quiz</h1>
    <form action="/create" method="post" class="space-y-4">
      <div>
        <label for="quizName" class="block">Deck Name</label>
        <input
          type="text"
          placeholder="My Deck"
          class="input input-bordered input-primary w-full max-w-xs"
          name="title"
        />
        <label for="quizDesc" class="block">Deck Description</label>
        <input
          type="text"
          placeholder="Good for studying"
          class="input input-bordered input-primary w-full max-w-xs"
          name="description"
        />
        <!--make this more complete with example-->
        <p>Upload a csv in question,answer format</p>
        <input
          type="file"
          class="file-input file-input-bordered file-input-primary w-full max-w-xs"
          accept=".csv"
        />
      </div>
      <button class="btn btn-primary w-full" type="submit">Create</button>
    </form>
  </div>
</div>

{%endblock%}
