{% from "content/_macros.html" import feature_card with context %} {% extends
"layout.html" %} {% block title %}Explore{% endblock %} {% block body%}
<div class="justify-center items-center">
  <header>
    <div class="mx-auto max-w-screen-xl px-4 pb-8 sm:px-6 sm:pb-12 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold sm:text-3xl">
            Welcome Back, {{ g.user["username"] }}!
          </h1>

          <p class="mt-1.5 text-sm">What's on the learning list today? 🎉</p>
        </div>
      </div>
    </div>
  </header>

  <!--Featured-->
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="mb-4 sm:flex sm:items-center sm:justify-between">
      <h1 class="text-2xl font-bold sm:text-3xl">Featured</h1>
    </div>
    <div class="grid grid-cols-3 grid-rows-2 gap-4">
      {% for deck in decks %} {{ feature_card(deck.name, deck.description,
      'User', [deck.length ~ ' questions']) }} {% endfor %}
    </div>
  </div>
  {%endblock body%}
</div>
