<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    {% block css %}
    <link href="/static/output.css" rel="stylesheet">
    {% endblock %}


    <title>CompDecks | {% block title %}{% endblock %}</title>

</head>

<body>
    <div class="hero">
        {% if session["uuid"] %}
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>
        {% endif %}
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
</body>

</html>