{% extends "layout.html" %}
{% block title %}Register{% endblock %} 

{% block body%}
    <h1>CompDecks</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        <input name="password" placeholder="Password" type="password">
        <input name="confirmation" placeholder="Confirmation" type="password">
        <button type="submit">Register</button>
    </form>
    <div>
        <br>
        <p>Already have an account? <a href="/login">Log In</a></p>
    </div>
{% endblock body%}