{% extends "layout.html" %} {% block title %}Explore{% endblock %} {% block
body%}
<div class="max-w-2xl mx-auto">
  <div class="relative overflow-x-auto sm:rounded-lg">
    <div class="p-4">
      <div class="relative">
        <label for="Search" class="sr-only"> Search </label>

        <input
          hx-target="#search-results"
          hx-trigger="input changed delay:150ms, search"
          hx-post="/search/"
          name="search"
          type="text"
          id="table-search"
          placeholder="Search for..."
          class="input input-bordered w-full"
          autocomplete="off"
          autofocus
        />

        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
          <button type="button" class="text-gray-600 hover:text-gray-700">
            <span class="sr-only">Search</span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Questions</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="search-results"></tbody>
    </table>
  </div>
</div>

{% endblock body%}
